<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>System Biblioteczny</title>
</head>
<body>
    <header>
        <h1>Witaj w Systemie Bibliotecznym</h1>
        <p>System Biblioteczny umożliwia zarządzanie książkami, czytelnikami, wypożyczeniami i ocenami.</p>
    </header>

    <nav>
        <ul>
            <li><a href="index">Strona Główna</a></li>
            <li><a href="readers">Czytelnicy</a></li>
            <li><a href="books">Dostępne Książki</a></li>
            <li><a href="loans">Wypożyczenia</a></li>
            <li><a href="authors">Autorzy</a></li>
        </ul>
    </nav>

    <section class="main-content">
        <h2>Witaj w Systemie Bibliotecznym</h2>
        <p>
            System Biblioteczny umożliwia łatwe zarządzanie dostępnymi książkami, informacjami o czytelnikach,
            wypożyczeniami oraz ocenami książek. Wybierz interesującą Cię kategorię z lewej strony.
        </p>
    </section>

    <footer>
        <p>&copy; 2024 System Biblioteczny</p>
    </footer>
</body>
</html>
